*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: black;
    color: whitesmoke;
}

.message {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 24px;
}

.inputForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 300px;
    border-radius: 5px;
    padding-left: 5px;
    background-color: black;
    color: whitesmoke
}


.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn {
    background-color: grey;
    width: 300px;
    margin-top: 5px; 
    border-radius: 5px;
    color: black

}

.searchBtn:hover{
    opacity: 50%;
    font-style: italic;
    
}

.artistList {
    color:whitesmoke;

}

.btn {
    background-color: grey;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
    color: black;
    padding: 3px;
    
}


.btn:hover {
    opacity: 50%;
    font-style: italic;
}

.hide {
    display: none;
}